/*
 * Copyright (c) 2025 Allister MacLeod
 *
 * SPDX-License-Identifier: MIT
 */

// cheapino.overlay - DTS overlay for Cheapino keyboard.
// Although physically the Cheapino is a wired split, for the purposes
// of ZMK we will treat it as a unibody keyboard, since the matrix is
// fully wired across the 8p8c connector, needing no controller on the
// right side.

#include <dt-bindings/zmk/matrix_transform.h>
#include "cheapino-layout.dtsi"

&cheapino_layout {
    transform = <&default_transform>;
};

/ {
    chosen {
        zmk,kscan = &cheapino_scan;
        zmk,physical-layout = &cheapino_layout;
        transform = <&default_transform>;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <12>;
        map = <
            RC(0,5) RC(4,0) RC(0,4) RC(3,0) RC(0,3)    RC(6,9) RC(9,6) RC(6,10) RC(10,6) RC(6,11)
            RC(1,5) RC(4,1) RC(1,4) RC(3,1) RC(1,3)    RC(7,9) RC(9,7) RC(7,10) RC(10,7) RC(7,11)
            RC(2,5) RC(4,2) RC(2,4) RC(3,2) RC(2,3)    RC(8,9) RC(9,8) RC(8,10) RC(10,8) RC(8,11)
                            RC(5,2) RC(5,1) RC(5,0)    RC(11,6) RC(11,7) RC(11,8)
        >;
    };

    cheapino_scan: kscan0 {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;

// Cheapino Charlieplex cheat sheet:
// (###) = impossible
// (xxx) = unused because opposite hand
// (---) = unused in this keymap
//     0   1   2   3   4   5   6   7   8   9  10  11
// 0  ### --- --- LT0 LT2 LT4 xxx xxx xxx xxx xxx xxx
// 1  --- ### --- LM0 LM2 LM4 xxx xxx xxx xxx xxx xxx
// 2  --- --- ### LB0 LB2 LB4 xxx xxx xxx xxx xxx xxx
// 3  LT1 LM1 LB1 ### --- --- xxx xxx xxx xxx xxx xxx
// 4  LT3 LM3 LB3 --- ### --- xxx xxx xxx xxx xxx xxx
// 5  LH0 LH1 LH2 --- --- ### xxx xxx xxx xxx xxx xxx
// 6  xxx xxx xxx xxx xxx xxx ### --- --- RT0 RT2 RT4
// 7  xxx xxx xxx xxx xxx xxx --- ### --- RM0 RM2 RM4
// 8  xxx xxx xxx xxx xxx xxx --- --- ### RB0 RB2 RB4
// 9  xxx xxx xxx xxx xxx xxx RT1 RM1 RB1 ### --- ---
// 10 xxx xxx xxx xxx xxx xxx RT3 RM3 RB3 --- ### ---
// 11 xxx xxx xxx xxx xxx xxx RH0 RH1 RH2 --- --- ###

        gpios
            = <&zero_d 27 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //  0: Row1L
            , <&zero_d 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //  1: Row2L
            , <&zero_d 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //  2: Row3L
            , <&zero_d 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //  3: Col1L (columns 0 and 1)
            , <&zero_d 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //  4: Col2L (columns 2 and 3)
            , <&zero_d 26 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> //  5: Col3L (column 4 and thumbs)

            , <&zero_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  //  6: Row1R
            , <&zero_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  //  7: Row2R
            , <&zero_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  //  8: Row3R
            , <&zero_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  //  9: Col1R (columns 0 and 1)
            , <&zero_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // 10: Col2R (columns 2 and 3)
            , <&zero_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // 11: Col3R (column 4 and thumbs)
            ;
    };
};
